.validate__post {
	&_body {
		border: 2px solid red;
		height: 83px;
	}
	&_span {
		color: red;
		margin-top: 5px;
	}
}

.validate__login {
	&_body {
		border: 2px solid red;
		width: 164px;
		height: 20px;
	}
	&_span {
		color: red;
		margin: 1px 0 5px 0;
	}
}
