.header {
	display: flex;
	height: 40px;
	background-color: #1e042b;
	align-items: center;
	justify-content: space-between;

	&__logo {
		margin-left: 10px;
		color: white;
	}

	&__auth {
		&-login {
			color: white;
			margin-right: 10px;
			&_loginned {
				display: flex;
				align-items: center;
				button {
					margin: 3px 0 0 5px;
				}
			}
		}
	}
}
