.navbar {
    width: 18%;
    background-color: #c07171;
    padding: 10px 0 10px 0;

    &__list {
        list-style-type: none;
    }

    &__item {
        color: white;
        text-decoration: none;
    }
}