.container {
	width: 1140px;
	margin: 0 auto;
}

.wrapper {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.main {
	width: 81%;
}

@import '../components/Header/header';
@import '../components/Navbar/navbar';
@import '../components/Profile/profile';
@import '../components/Profile/Posts/posts';
@import '../components/Profile/Posts/Post/post';
@import '../components/Profile/Posts/Post/Like/like';
@import '../components/Dialogs/dialogs';
@import '../components/Music/music';
@import '../components/Settings/settings';
@import '../components/Users/users';
@import '../components/common/Preloader/preloader';
@import '../components/Login/login';
@import '../reduxForm/FormComponents/validate';
