.dialogs {
	padding: 10px;
	background-color: #026b6e;
	display: flex;

	&__messages {
		padding-left: 10px;
		width: 100%;
		background-color: #038589;
		margin-left: 100px;
	}

	&__name {
		width: 400px;
		&-item {
			margin-top: 5px;
			display: flex;
			align-items: center;
		}
		&-name {
			margin-left: 5px;
			color: white;
			text-decoration: none;
			&_active {
				background-color: gray;
				border-radius: 30px;
				padding: 1px 2px 1px 2px;
			}
		}
		&-avatar {
			width: 30px;
			border-radius: 50%;
		}
	}

	&__send {
		margin-top: 10px;
		display: flex;
		align-items: center;
		&-text {
			resize: none;
		}
		&-btn {
			margin-left: 10px;
		}
	}
}
